<!-- Kurtsley -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- delete these when not local -->
    <link rel="stylesheet" href="../static/list.css">
    <script src="../static/app.js" defer></script>
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='list.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    --->
    <title>List</title>
</head>

<body>
    <div class="header">
        <div class="banner">
            <div id="title">List</div>
        </div>
    </div>
    <div class="content">
        <div class="add-section">
            <button id="btn-add">+</button>
        </div>
        <div class="list-section">
            <div class="list-title">

            </div>

        </div>
    </div>
    <div class="footer">
        <h6 id="copyright-text">List by Kurtsley 2024</h6>
    </div>
</body>

</html>